extends layout

block content
  div#canvas

  div#options
    <h3>Options</h3>
    <h4>Colors</h4>
    ul#colors
      li.colorChange.selected black <span class="hidden">#000</span>
      li.colorChange red <span class="hidden">#F00</span>
      li.colorChange white <span class="hidden">#FFF</span>
    <h4>Line Thickness</h4>
    ul#size
      li <input id="sizeSlider" type="range" min="1" max="100" value="10" />
      <li><input type="text" value="10" id="sizeValue" /></li>
      li 1-100 - If your device doesn't support the slider, please enter an exact value and press the enter or return key

block footerScripts
    script(defer, src='js/canvas.js')
    script(defer, src='js/slider.js')
