extends layout

block content
  div
    <div id="canvas" style="width: 200px; height: 200px; background: #fff;"></div>
    input#name(type='text')
    a(id='sender')='Send a Message'
    ul(id='receiver')

block footerScripts
    script(defer, src='js/canvas.js')
