extends layout

block content
  div#canvas

  div#options
    <h3>Options</h3>
    <h4>Colors</h4>
    ul#colors
      li.colorChange.selected black <span class="hidden">#000</span>
      li.colorChange red <span class="hidden">#F00</span>
      li.colorChange white <span class="hidden">#FFF</span>
    <h4>Sizes</h4>
    ul#sizes
      li.sizeChange.selected small <span class="hidden">10</span>
      li.sizeChange medium <span class="hidden">20</span>
      li.sizeChange large <span class="hidden">30</span>

block footerScripts
    script(defer, src='js/canvas.js')
