html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

#options {
    position: absolute;
    right:0;
    top:0;
    background: #FFF;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.hidden {
    visibility: hidden;
}

.selected {
    border:1px solid #000;
}

#sizeValue {
    list-style:none;
    text-align:center;
    padding-right:15px
}